// app global css in SCSS form
.brx {
  border: 1px solid red;
}
.font-36 {
  font-size: 36px;
}
.font-30 {
  font-size: 30px;
}
.font-24 {
  font-size: 24px;
}
.font-18 {
  font-size: 18px;
}

.bg-blue-main {
  background-color: #3c4dae;
}

.q-page-color {
  background-color: #202541;
}

.page-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
